pandas==1.2.3
jupyterthemes==0.20.0
theme-darcula==3.1.1
jupyterlab-code-formatter==1.4.10
black==21.10b0
isort==5.10.0
matplotlib==3.4.3
requests==2.26.0
google-api-python-client==2.9.0
python-dotenv==0.19.1
google-cloud-logging==2.3.1
google-cloud-bigquery==2.13.1
google-cloud-ndb==1.8.0
google-cloud-storage==1.37.1
google-cloud-datastore==1.15.3
pandas-gbq==0.15.0
scikit-learn==1.0.1